#container {
  margin-bottom: 10px;
}

#container div {
  display: inline-block;
}

/* This line is required to ensure that concept boxes added after default boxes include a margin on the right */
/* 1n+i where i = number of default boxes + 1 */
#container div:nth-child(1n+3) {
  margin-right: 9px;
}

button {
  display: inline-block;
  margin-top: 5px;
}

textarea {
  resize: none;
  width: 250px;
  height: 100px;
}

#search {
  resize: none;
  width: 504px;
  height: 75px;
}
